tests/BWS_2022/src/main/resources/Service1WithCallback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 * Copyright(C) OASIS(R) 2009,2009. All Rights Reserved.
 * OASIS trademark, IPR and other policies apply.    
 *   
 * WSDL version of the Service1 interface with an added callback interface 
-->
<!--
	WSDL for the Service1WithCallback interface - intended to be compatible with Service1 interface
	1 operation "operation1"
	- 1 string input parameter
	- 1 string output parameter 
	
	Service1Callback interface:
	1 operation "operation1Callback"
	- 1 string input parameter
	- 1 string output parameter 	
-->
<wsdl:definitions name="Service1Service"
	targetNamespace="http://test.sca.oasisopen.org/" 
	xmlns:tns="http://test.sca.oasisopen.org/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:sca="http://docs.oasis-open.org/ns/opencsa/sca/200912"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" 
    	targetNamespace="http://test.sca.oasisopen.org/" 
    	xmlns:xs="http://www.w3.org/2001/XMLSchema">
    	<xs:element name="operation1Response">
    		<xs:complexType>
    			<xs:sequence>
    				<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
    			</xs:sequence>
    		</xs:complexType>
    	</xs:element>
    	<xs:element name="operation1">
    		<xs:complexType>
    			<xs:sequence>
    				<xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string"/>
    			</xs:sequence>
    		</xs:complexType>
    	</xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="operation1Response">
    <wsdl:part name="operation1Response" element="tns:operation1Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operation1">
    <wsdl:part name="operation1" element="tns:operation1">
    </wsdl:part>
  </wsdl:message>
  <!-- Service1 forward interface with @callback pointing at Service1Callback interface -->
  <wsdl:portType name="Service1WithCallback" sca:callback="tns:Service1Callback">
    <wsdl:operation name="operation1">
      <wsdl:input message="tns:operation1">
    </wsdl:input>
      <wsdl:output message="tns:operation1Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1Callback">
    <wsdl:operation name="operation1Callback">
      <wsdl:input message="tns:operation1">
    </wsdl:input>
      <wsdl:output message="tns:operation1Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- Service1 with Callback: Binding and Service -->
  <wsdl:binding name="Binding1A" type="tns:Service1WithCallback">
    <soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http">
  	</soap:binding>
  	<wsdl:operation name="operation1">
  		<soap:operation
  			soapAction="http://test.sca.oasisopen.org/operation1">
  		</soap:operation>
  		<wsdl:input>
  			<soap:body use="literal"></soap:body>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"></soap:body>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1WithCallback">
  	<wsdl:port name="Service1CallbackPort" binding="tns:Binding1A">
  		<soap:address location="http://localhost:8080/Service1"></soap:address>
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>